.maintitle{
    padding-left: 20px !important;
    font-family: 'Times New Roman', Times, serif !important;
  }
  .maintitle .titilecolor{
    color:green;
    font-size: 25px;
    font-weight: bold;
  }